body {
  min-height: 100vh;
  background-color: #cecbcb;
}
button, a {
  border: unset;
  background-color: #ff5a19;
  text-transform: uppercase;
  padding: 0.5rem;
  color: #f3ffe1;
  transition: color 0.55s ease, background-color 0.55s ease;
  &:hover {
    cursor: pointer;
    color: aliceblue;
    background-color: #ff4c13;
  }
}
* {
  margin: 0;
}
a {
  text-decoration: unset;
  color: whitesmoke;
  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}
.main-nav {
  height: fit-content;
  position: fixed;
  z-index: 888;
  top: 0;
  height: 100%;
  right: 0;
  display: flex;
  flex-direction: column;
  a {
    &:first-child {
      margin-top: 5rem;
    }
  }
}
.chrome-picker {
  margin-left: auto;
  margin-right: auto;

}
.MuiFormControl-root {
  * {
    color: white;
  }
}
.add-one-form {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: fit-content;
  padding-bottom: 2rem;
  background-color: #282c34;
  transition: transform 0.55s ease;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  align-items: center;
  .MuiFormControl-root {
    label, .MuiSelect-select, .MuiInputBase-input {
      color: white !important;
      &.Mui-focused {
        color: orangered !important;
      }
    }
  }
  > *, .MuiFormControl-root {
    margin-bottom: 1rem;
    max-width: 50rem;
    width: 100%;
    flex: 0 0 100%;
    min-width: 300px;
  }
  > *:not(button) {
    color: white;
  }
  .minimize-btn {
    transition: traslate 0.89s ease;
  }
  &.is-minimized {
    transform: translateY(calc(100% - 32px));
    .minimize-btn {
      transform: rotateZ(180deg);
    }
  }
}
.MuiPaper-root {
  background-color: transparent !important;
}
.img-card {
  display: flex;
  flex-direction: row;
  max-height: 4rem;
  position: relative;
  &__img {
    height: 100%;
    max-width: 4rem;
    min-width: 4rem;
    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
  &__info {
    height: 100%;
    max-width: 100%;
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    > * {
      margin: 0;
      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }
}

.rarity-one {
  height: 100%;
  display: flex;
  min-height: 4rem;
  position: relative;
  &__info {
    height: 100%;
    max-width: 100%;
    flex: 0 0 100%;
    display: flex;
    flex-direction: column;
  }
  &__name {
    height: 100%;
    padding-bottom: 0.3rem;
  }
}

.item-type-one {
  .img-
  .img-card__info {
    flex: 0 0 100%;
    max-width: 100%;
  }
  padding-right: 15rem;
}

.search-bar {
  position: fixed;
  z-index: 888;
  top: 0px;
  left: 50%;
  width: 30vw;
  min-width: 330px;
  transform: translateX(-50%);
  background-color: rgba(35, 33, 32, 0.59);
  .MuiFormControl-root {
    width: 100%;
    label {
      color: white !important;
      &.Mui-focused {
        color: orangered !important;
      }
    }
  }
}
.page {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.MuiBox-root {
  backgroundColor: #fff;
  borderRadius: 2rem;
  boxShadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 1rem;
}
.MuiCheckbox-root {
  &:hover {
    background-color: rgba(255, 69, 0, 0.12) !important;
  }
  &.Mui-checked {
    color: orangered !important;
  }
}

.MuiPaper-root.MuiMenu-paper {
  background-color: #282c34 !important;
  * {
    color: #cecbcb !important;
  }
}

.MuiBox-root:hover, .MuiBox-root.dragover {
  opacity: 0.6;
}

.drag-n-drop {
  .dropzone {
    border: dashed 2px orange;
    transition: border 0.5s ease;
    padding: 2rem;
    &:hover {
      cursor: pointer;
      border: dashed 2px #ff7300;
    }
  }
  &.error {
    .dropzone {
      border-color: #ff2f00;
      &:hover {
        border-color: red;
      }
    }
  }
}

* {
  box-sizing: border-box;
}
